
	.page-menu {
		height: 209px;
		background-color: white;
	.menu {	
		width: 100%;
		&__link {
			color: black;
			font-size: 28px;
					
		}

		&__item {
			padding-right: 68x;
				

		}
	}
	.left-box-menu {
		display: flex;
		justify-content: space-between;
		list-style-type: none;
		width: 400px;
		height: 33px;
		left: 158px;
		top: 73px;
		margin: 0;
		}


	.logo-box-menu {
		position: absolute;
		width: 302px;
		height: 209px;
		left: 569px;
		align-items: center;
		
	}
		img {
			width: 100%;
		}
		
	.right-box-menu {
		display: flex;
		justify-content: space-between;
		list-style-type: none;
		width: 290px;
		height: 33px;
		left: 894px;
		right: 256px;
		top: 73px;
		align-items: flex-end;
		margin: 0;

	}

}	