body {
    margin: 0;
}

.flex-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
	width: 302px;
	height: 209px;
}

.sos {
    width: 45px;
	padding: 5px;
}

.sos-hover:hover {
    background-color: #871818;
	border-radius: 50%;
	// filter: blur(2px);
	// opacity: 0.2;
}


a {
	color: black;
	font-size: 24px;
	font-family: Dosis;
	text-decoration: none;

	&:hover {
		color: #871818;
		font-size: 24px;
		font-family: Dosis;
		text-decoration: none;
	}
}

.underline {
	&:active {
		width: 100%;
		border-bottom: 2px solid  #871818;
		padding-bottom: 30px;
	}
}